@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

* {
  font-family: 'Darker Grotesque', sans-serif;
}

body {
  margin: 0;
}

main {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main_header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
}

.horizontal_menu {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.horizontal_menu {
  margin: 1.6rem;
}

.text_deco_none {
  text-decoration: none;
  color: black;
}

.product_menu {
  margin-right: 3rem;
  min-width: 10rem;
}

.info_body {
  display: flex;
  min-height: 50rem;
}

.bald_menu_item {
  font-weight: 1000;
}

.list_category {
  margin-left: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.sub_category_list>*{
  margin-left: .5rem;
}

.sub_category_list>*:hover {
  text-decoration: underline;
  cursor: pointer;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.box {
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.165);
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 0.8rem;
  padding: 2rem;
  text-align: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: wrap;
}

.title {
  font-size: xx-large;
  font-weight: 1000;
}

.input_bar {
  font-size: larger;
  width: 18rem;
  margin: .2rem;
}

.input_bar:focus-visible {
  outline-color: black;
  outline-offset: 0;
  outline-width: 1px;
  outline-style: solid;
}

.hero {
  width: 100%;
  height: 24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}